body
{
    background-color: #ffccaa;
    font-family: Tahoma;
    font-size: 2;
}

a, a:visited, a:active
{
    color: #A04000;
}

h1
{
    color: #A04000;
}

p
{
    text-align: justify;
}

#kep1
{
    float: left;
    width: 110px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#keret
{
    display: flex;
    flex-wrap: wrap;
}
